<!Doctype <html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content= "width=device-width, initial-scale=1.0" />
        <title>Companion Chatbot</title>
        <link rel="stylesheet" href="/static/css/home.css">
    </head>
    <body>
        <div id="container">
            <h1>Welcome to your companion AI chatbot</h1>
            <a href="/chat">
                <button id="navigationBtn">Start chatting</button>
            </a>
        </div>

        <script src="/static/js/script.js"></script>
    </body>
    </html>
